fasttext==0.9.2
gensim==3.8.3
isort==5.7.0
ivis==1.8.4
loguru==0.5.3
openpyxl==3.0.6
pandas==1.2.0
plotly==4.14.1
scikit-learn==0.24.0
sentence-transformers==0.4.1.2
tabulate==0.8.7
transformers==4.1.1
umap-learn==0.5.0
zarr==2.6.1
# New Requirements
streamlit==0.74.1